.attraction {
    scroll-margin-top: var(--scroll-margin-top);
}
.attraction-cardList {
    gap: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
    gap: 0.75rem 0;
    }
    li {
        width: calc(25% - 0.9375rem);
        @media screen and (max-width: 959px) {
            width: calc(50% - 1.25rem);
        }
        @media screen and (max-width: 767px) {
            width: 100%; 
        }
    }
}

.attractionCard {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--radius-lg);
    @media screen and (max-width: 767px) {
        display: flex;
    }
    img{
        width: 100%;
        aspect-ratio: 9 / 5;
        object-fit: cover;
        @media screen and (max-width: 767px) {
            width: 35%;
        }
    }
    .attractionCard_inner {
        padding: clamp(0.5rem, 0.357rem + 0.71vw, 1rem);
        text-align: center;
        @media screen and (max-width: 767px) {
            width: 65%;
        }
    }
}
.attractionCard-title {
    font-size: 1.125rem;
}
.attractionCard-text {
    margin-top: 0.5rem;
}