.container {
    margin: 0 auto;
    padding: 3.125rem 4.375rem;
    max-width: var(--content-width);
    @media screen and (max-width: 959px) {
        padding: 3.125rem 3.125rem;
    }
    @media screen and (max-width: 767px) {
        padding: 3.125rem 0.5rem;
    }
}

.container--inner0 {
    padding: 0;
}