.ticketType {
    min-width: 35rem;
    padding: clamp(0.5rem, 0.107rem + 1.96vw, 1.875rem);
    background-color: #fff;
    box-shadow: var(--shadow-red);
    border-radius: var(--radius-lg);
}
.ticketType-table {
    border: 0.125rem solid var(--color-accent);
    border-radius: var(--radius-md);
    overflow: hidden;
    .ticketType-table_thead {
        color: var(--color-bg);
        display: flex;
        text-align: center;
        background-color: var(--color-accent);
                .ticketType-table_thead_1,
                .ticketType-table_thead_2 ,
                .ticketType-table_thead_3 ,
                .ticketType-table_thead_4 {
                    padding: 0.25rem;
                    width: 20%; border-left: 1px dotted var(--color-bg);
                }
        .ticketType-table_thead_1 { width: 40%; border: none;}
        .ticketType-table_thead_2 { width: 20%;}
        .ticketType-table_thead_3 { width: 20%;}
        .ticketType-table_thead_4 { width: 20%;}
    }
    .ticketType-table_line {
        display: flex;
        height: 4rem;
        .ticketType-table_line_1,
        .ticketType-table_line_2 ,
        .ticketType-table_line_3 ,
        .ticketType-table_line_4 {
            padding: 0.125rem 0.5rem;
            display: flex;
            align-items: center;
            width: 20%; border-left: 1px dotted var(--color-accent);
        }
        .ticketType-table_line_1 {
            width: 40%; border: none;
        }
        .ticketType-table_line_2 {
            width: 20%;
        }
        .ticketType-table_line_3 {
            color: var(--color-accent);
            font-weight: bold;
            font-size: var(--font-md);
            width: 20%;
        }
        .ticketType-table_line_4 {
            width: 20%;
        }
        & + & {
            border-top: 1px dotted var(--color-accent);
        }
    }
}
.ticketType-addItem {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.750rem;
    padding: 1.5rem 0 1.5rem 2rem;
    border: 1px solid var(--color-accent);
    border-radius: 0.750rem;
    background-color: #fef3f4;
    &::before {
        content: 'お得！';
        top: -0.625rem;
        left: -1.75rem;
        height: 3.75rem;
        width: 3.75rem;
        display: flex;
        position: absolute;
        font-size: 0.875rem;
        color: #fff;
        font-weight: bold;
        padding-left: 0.375rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-image: url(../../../public/images/icon/bg-label.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: rotate(-10deg);
    }
    .ticketType-addItem_title {
        width: auto;
        flex-grow: 1;
        border-right: 1px dotted var(--color-accent);
        .ticketType-addItem_title_main {
            font-size: var(--font-md);
            color: var(--color-accent);
        }
    }
    .ticketType-addItem_val {
        font-size: 0.75rem;
        width: 7rem;
        padding: 0rem 0.5rem;
        color: var(--color-accent);
        .ticketType-addItem_val_main {
            font-weight: bold;
            font-size: var(--font-md);
        }
    }
    .ticketType-addItem_form {
        padding: 0rem 0.5rem;
        width: 7rem;
    }

}