.Hero {
    width: 100%;
    aspect-ratio: 14 / 7;
    .Hero_textLayout {
        margin-top: 130px;
        margin-left: 230px;
        display: inline-block;
        text-align: center;

    }
}
.Hero-catch {
    color: #fff;
    font-size: 50px;
}
.Hero-text {
    margin-top: 10px;
    display: block;
    color: #fff;
    font-size: 22px;
}
.Hero-btnBox {
    margin-top: 28px;
}
.HeroBg {
    inset: 0;
    width: 100%;
    z-index: -1;
    position: fixed;
    background-image: url(../../../public/images/hero-bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
