.event {
    scroll-margin-top: var(--scroll-margin-top);
}
.event-cardList {
    gap: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        gap: 0.75rem 0;
    }
    li {
        width: calc(25% - 0.9375rem);
        @media screen and (max-width: 959px) {
            width: calc(50% - 1.25rem);
        }
        @media screen and (max-width: 767px) {
            width: 100%; 
        }
    }
}

.eventCard {
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--radius-lg);
    img{
        width: 100%;
        aspect-ratio: 10 / 7;
        object-fit: cover;
    }
    .eventCard_inner {
        padding: clamp(0.5rem, 0.357rem + 0.71vw, 1rem);
    }
    .eventCard_status {
        top: 0;
        left: 0;
        color: #fff;
        line-height: 1.375rem;
        border-radius: 1.0625rem;
        position: absolute;
        margin: 0.625rem 0.875rem;
        padding: 0.3125rem 1rem 0.4375rem;
        &.eventCard_status--now {
            background-color: var(--color-accent);
        }
        &.eventCard_status--before {
            background-color: #F79752;
        }
    }
}
.eventCard_item {
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    margin-top: 0.125rem;
    border-radius: 0.750rem;
    padding: 1px 0.750rem 0.125rem;
    background-color: #fff;
    margin-right: 0.5rem;

    &.eventCard_item--season {
        color: var(--color-accent);
        border: 0.125rem solid var(--color-accent);
    }
    &.eventCard_item--parade {
        color: #F79752;
        border: 0.125rem solid #F79752;
    }
    & + & {
        margin-right: 0;
    }
}
.eventCard-title {
    font-size: 1.1875rem;
    font-weight: bold;
    margin-top: 0.875rem;
}
.eventCard-text {
    margin-top: 0.5rem;
}
.eventCard-time {
    margin-top: 1rem;
    &::before {
        content: url(../../../public/images/icon/icon-calendar.svg);
        display: inline-block;
        width: 1rem;
        margin: -0.125rem 0.625rem 0 0;
        vertical-align: middle;
    }
}