:root {
  /* Color */
  /* ブランドカラー */
  --color-primary: #244BA0;
  --color-secondary: #FAF0CF;
  --color-accent:#EB7297;
  /* 基本 */
  --color-text: #333;
  --color-bg: #fff;
  --color-basic: #F8FBFE;
  --color-border: #ddd;

  /* Font */
  --font-family-main: "Noto Sans JP", sans-serif;
  --font-family-title: "Pacifico", sans-serif; 

  /* ベーシック */
  --font-sm: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
  /* 少し大きめ */
  --font-md: clamp(1.125rem, 1.083rem + 0.19vw, 1.25rem);
  /* かなり大きめ */

  /* Layout */
  --content-width: 1440px;

/* inner */
  /* --inner-sm: clamp(0.375rem, 0.2679rem + 0.5357vw, 0.75rem); */
  --inner-md: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  /* --inner-lg: clamp(0.75rem, 0.5rem + 1.25vw, 1.625rem); */

  /* Radius */
  --radius-sm: clamp(0.3125rem, 0.2589rem + 0.2679vw, 0.5rem);
  --radius-md: clamp(0.5rem, 0.3571rem + 0.7143vw, 1rem);
  --radius-lg: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  /* Shadow */
  --shadow: 0 0.25rem 0.750rem rgb(0 0 0 / 0.1);

  /* Animation */
  --transition: 0.2s ease;
/* ページ内スクロールの位置 */
  --scroll-margin-top: 6.25rem;

  /* --media-sp: 767px;
  --media-tab: 959px; */
}
#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-main);
  font-size: var(--font-sm);
  color: var(--color-text);
  background: #352053;
  line-height: 1.6;
  overflow-x: hidden;
}
.home-contentBg {
  position: relative;
  background-color: var(--color-basic);
  &::before,
  &::after {
    content: '';
    display: block;
    pointer-events: none;
    background-image: url(../../public/images/bg-wave.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 40svw;
    z-index: 10;
    top: -3.7svw;
    position: absolute;
    aspect-ratio: 10 / 1;
  }
  &::before {
    left: 4svw;
    filter: drop-shadow(60vw 0 #f8fbfe);
  }
  &::after {
    top: -1.9svw;
    width: 20svw;
    left: auto;
    right: 32svw;
  }
}
.home-contentFlex {
  display: flex;
  flex-wrap: wrap;
  .home-contentFlex_item {
    
  }
}
