.attraction {
    scroll-margin-top: var(--scroll-margin-top);
}
.attraction-cardList {
    gap: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: calc(25% - 15px);
        @media screen and (max-width: 959px) {
            width: calc(50% - 20px);
        }
        @media screen and (max-width: 767px) {
            width: 100%; 
        }
    }
}

.attractionCard {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--radius-lg);
    img{
        width: 100%;
        aspect-ratio: 9 / 5;
        object-fit: cover;
    }
    .attractionCard_inner {
        padding: 16px;
        text-align: center;
    }
}
.attractionCard-title {
    font-size: 18px;
}
.attractionCard-text {
    margin-top: 8px;
}