.event {
    scroll-margin-top: var(--scroll-margin-top);
}
.event-cardList {
    gap: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: calc(25% - 15px);
        @media screen and (max-width: 959px) {
            width: calc(50% - 20px);
        }
        @media screen and (max-width: 767px) {
            width: 100%; 
        }
    }
}

.eventCard {
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--radius-lg);
    img{
        width: 100%;
        aspect-ratio: 10 / 7;
        object-fit: cover;
    }
    .eventCard_inner {
        padding: 20px 16px 22px;
    }
    .eventCard_status {
        top: 0;
        left: 0;
        color: #fff;
        line-height: 22px;
        border-radius: 17px;
        position: absolute;
        margin: 10px 14px;
        padding: 5px 16px 7px;
        &.eventCard_status--now {
            background-color: var(--color-accent);
        }
        &.eventCard_status--before {
            background-color: #F79752;
        }
    }
}
.eventCard_item {
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    margin-top: 2px;
    border-radius: 12px;
    padding: 1px 12px 2px;
    background-color: #fff;
    margin-right: 8px;

    &.eventCard_item--season {
        color: var(--color-accent);
        border: 2px solid var(--color-accent);
    }
    &.eventCard_item--parade {
        color: #F79752;
        border: 2px solid #F79752;
    }
    & + & {
        margin-right: 0;
    }
}
.eventCard-title {
    font-size: 19px;
    font-weight: bold;
    margin-top: 14px;
}
.eventCard-text {
    margin-top: 8px;
}
.eventCard-time {
    margin-top: 16px;
    &::before {
        content: url(../../../public/images/icon/icon-calendar.svg);
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
    }
}