.footer {
    position: relative;
    background-color: var(--color-basic);
}
.footer-layout {
    display: flex;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 1.5rem var( --inner-md) 5.125rem;
    background: url(../../../public/images/bg-line.svg) bottom -1.6svw left 0/100% repeat-x;
    @media screen and (max-width: 959px) {
        display: block;
        text-align: center;
    }
    .footer-layout_left {
        width: 45%;
        padding-left:  6rem;
        @media screen and (max-width: 959px) {
            width: 100%;
            padding-left: 0;
        }
    }
    .footer-layout_center {
        width: 25%;
        @media screen and (max-width: 959px) {
            width: 100%;
        }
    }
    .footer-layout_right {
    }
}
.footer-LogoBox {
    margin-top: 0.5rem;
}
.footer-snsList {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    @media screen and (max-width: 959px) {
        justify-content: center;
    }
    .footer-snsList_icon {
        display: inline-block;
        width: 1.875rem;
        transition: var(--transition);
        img{
            width: 100%;
        }
        &:hover {
            opacity: .6;
        }
    }
    .footer-snsList_icon--X {
        width: 1.75rem;
    }
}
.footer-textBox {
    .footer-textBox_title {
        color: var(--color-primary);
        font-size: var(--font-md);
        font-weight: bold;
        @media screen and (max-width: 959px) {
            margin-top: 2rem;
        }
    }
    .footer-textBox_textList {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        @media screen and (max-width: 959px) {
            display: inline-block;
        }
        li {
            width: 100%;
            & + &{
                margin-top: 0.5rem;
            }
        }
        a{
            position: relative;
            &::after {
                content: '';
                left: 0;
                right: auto;
                width: 0;
                bottom: -0.125rem;
                display: block;
                height: 1px;
                position: absolute;
                transition: var(--transition);
                background-color: var(--color-primary);
            }
        }
        a:hover::after {
            width: 100%;
        }
        .footer-textBox_textList_table span {
            display: inline-block;
            width: 4.5rem;
            @media screen and (max-width: 959px) {
                width: auto;
                margin-right: 1rem;
            }
        }
    }
}
.footer-copy {display: block;
    text-align: center;
    background-color: #C6E0F5;
    font-size: var(--font-sm);
    padding-bottom: 0.2svw;
}

/* FooterLogo */
.footerLogo {
}
.footerLogo-main {
    font-size: 2.375rem;
    color: var(--color-primary);
    line-height: 1.2;
    font-family: var(--font-family-title);
}
.footerLogo-sub {
    font-size: var(--font-sm);
    margin-top: 0.25rem;
    font-weight: bold;
}
